* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica;
}

.container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #e7e7e7;
    width: 300px;
    box-shadow: 0 0 10px 0 black;
    background-color: beige;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    margin: 10px;
}

.card h3 {
    margin-bottom: 15px;
}

input {
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    padding: 0 5px;
    width: 50%;
}

button {
    padding: 5px 30px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #ccc0ae;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.outcome > div {
    margin-bottom: 10px;
}
.res_color {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-flex;
    border-radius: 50%;
    background-color: black;
}